[Unit]
Description=flanneld network fabric for containers
Documentation=https://github.com/coreos/flannel
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service

[Service]
Type=notify
Restart=always
RestartSec=5
ExecStart=/usr/bin/flanneld \
 -etcd-endpoints=http://172.2.2.101:4001,http://172.2.2.102:4001,http://172.2.2.103:4001 \
 -logtostderr=true \
 -ip-masq=true \
 -iface=eth1 \
 -subnet-dir=/var/lib/flanneld/networks \
 -subnet-file=/var/lib/flanneld/subnet.env

[Install]
WantedBy=multi-user.target
