[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd

[Service]
User=etcd
Type=notify
ExecStart=/usr/bin/etcd \
 --name etcd3 \
 --data-dir /var/lib/etcd \
 --initial-advertise-peer-urls http://172.2.2.103:2380 \
 --listen-peer-urls http://172.2.2.103:2380 \
 --listen-client-urls http://172.2.2.103:2379,http://127.0.0.1:2379,http://172.2.2.103:4001 \
 --advertise-client-urls http://172.2.2.103:2379,http://172.2.2.101:4001 \
 --initial-cluster-token etcd-cluster-1 \
 --initial-cluster=etcd1=http://172.2.2.101:2380,etcd2=http://172.2.2.102:2380,etcd3=http://172.2.2.103:2380 \
 --initial-cluster-state new \
 --heartbeat-interval 1000 \
 --election-timeout 5000
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target